/* ---------whole doc--------------------------- */
:root{
    --logoblue: #1d285b;
    --headershadow: #888888;
}

*{
    font-family:'Courier New', Courier, monospace;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* -----------header-------------------------- */
header{
    background-color: white;
    box-shadow: 5px 10px 18px #888888;

}

nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin-left: 20px;
    margin-bottom:15px;
    margin-top:2px;
    width: 90px;
    height: 90px;  
    display:flex;
}

a{
    text-decoration: none;
}

header p{
    margin-left: 10rem;
    color: black;
    font-size: 45px;
    font-weight: bold;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    list-style-type: none;
}

nav li{
    padding: 1rem;
    font-size: 22px;
    color: black;
}

nav ul li a {
    color: black;
}

nav ul li a:hover{
    color: white;
    background: var(--logoblue);
}


nav li:hover{
    background: var(--logoblue);
    color: white;
}

nav li:link{
    text-decoration: none;
    color:black;
}

.dropdown{
    position: relative;
    display:list-item;
}

.dd-menu{
    display:none;
    position: absolute;
    width:107px;
}

.dd-menu li{
    font-size: 13px;
    color: black;
    background-color: white;
    padding: 12px 6px;
    text-decoration: none;
    display:flex;
}

.dropdown:hover .dd-menu{
    display:flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}

.dd-menu li:hover{
    background-color: var(--logoblue);
    color: white;
}
/* ---------------body----------------------------- */

.aboutsec{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
}

.artist-stmtabt{
    margin-top: 0;
    padding-left: 10px;
    width: 500px;
}

main div p{
    text-align: justify;
}

main div h1{
    text-align: right;
}

#about-img{
    width: 450px;
}

.about-middletxt{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#midtitle{
    margin-top: 20px;
    margin-left: 70px;
    text-align: left;
}
.midp{
    margin: 20px;
    width:500px;
}

.small-works-cont{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--logoblue);
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


#sw1, #sw2, #sw3{
    width: 200px;
    height: 200px;
}

/* ----------------------------- */
footer{
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer p{
    margin-left: 120px;
}

.socialf{
    color:white;
    text-align: left;
}