/* ---------whole doc--------------------------- */
:root{
    --logoblue: #1d285b;
    --headershadow: #888888;
    --contentheight: 0;
}

*{
    font-family:'Courier New', Courier, monospace;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* -----------header-------------------------- */
header{
    background-color: white;
    box-shadow: 5px 10px 18px #888888;

}

nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin-left: 20px;
    margin-bottom:15px;
    margin-top:2px;
    width: 90px;
    height: 90px;  
    display:flex;
}

a{
    text-decoration: none;
}

header p{
    margin-left: 10rem;
    color: black;
    font-size: 45px;
    font-weight: bold;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    list-style-type: none;
}

nav li{
    padding: 1rem;
    font-size: 22px;
    color: black;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: white;
    background: var(--logoblue);
}


nav li:hover{
    background: var(--logoblue);
    color: white;
}

nav li a:link{
    text-decoration: none;
    color:black;
}

.dropdown{
    position: relative;
    display:list-item;
}

.dd-menu{
    display:none;
    position: absolute;
    width:107px;
}

.dd-menu li{
    font-size: 13px;
    color: black;
    background-color: white;
    padding: 12px 6px;
    text-decoration: none;
    display:flex;
}

.dropdown:hover .dd-menu{
    display:flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
}

.dd-menu li:hover{
    background-color: var(--logoblue);
    color: white;
}
/* ---------------body----------------------------- */

.title{
    text-align: left;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 50px;

}
.accordion{
    width: 80%;
    margin: 20px auto;
    line-height: normal;
}

.accordion-label{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: var(--logoblue);
    border: none;
    padding: 10px;
    border-radius: 5px;
    position:relative;
}

.accordion-content{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    width: 80%;    
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    margin-left: 100px;

}

.accordion-content.open{
    height: var(--contentheight);
    overflow: auto;
}

.accordion-label.open{
    opacity: 1;
}

.accordion-label{
    transition: opacity 0.3s ease-in-out;
}

.accordion-label::after{
    content: '▽';
    position: absolute;
    right: 1rem;
    font-size: 25px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.accordion-label:hover::after{
    color:black;
    background-color: white;
}

.accordion-label.open::after{
    content: '△';
    font-size: 25px;

}

    #footer-div{
        margin-bottom:270px;
    }
/* ----------------------------- */
footer{
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer p{
    margin-left: 120px;
}

.socialf{
    color:white;
    text-align: left;
}